.live{
    position: relative;
    width: 100%;
    overflow:hidden;

   iframe{
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    
   }
  }

  .maintaines{
      h1{
          font-size: 2.5em;
          text-transform: uppercase;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
      }
  }
 