// fonts
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'colors';
@import 'font-fam';
@import 'responsive';

// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    scroll-behavior: smooth;
    text-decoration: none;
}
// variables
$mainfont:'Inter', sans-serif;
$secondary-fond: 'Bebas Neue', cursive;
$bold:700;
$medium:500;
$regular:400;


// style starts


header nav{
    height: 3.7rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;

    .next-page{
        display: none;
        position: absolute;
        right: 16%;
        top: 30%;
       
        a{
            text-decoration: none;
            
        }

        @include mobile{
            display: block;
        }
        @include tablet {
            display: block;
        }
    }
    
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;

    h1{
        color: $comon;
        font-family: $secondary-fond;

        // tablet responsive here

        @include tablet {
            font-size: 36px;
            margin-left: 16px;
        }
    }
}

.logo img {
    height: 5rem;
    width: 5rem;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    color: $primary-color;
    margin: 0 0.7vw;
    font-size: 16px;
}
.nav-links li a:hover {
    color: $comon;
}
.nav-links li {
    position: relative;
}


/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.4rem 0.6rem;
    margin-left: 2vw;
    font-size: 11px;
    cursor: pointer;

}
.login-button:hover {
    color: white;
    background-color: #e90a0a;
    border:1.5px solid transparent;
    transition: all ease-in-out 350ms;
}


/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    header nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

// header{
//     width: 100%;
//     height: 60px;
//     background-color: $primary-color;
//     box-shadow: 0px 6px 8px #888888;
   
//     .nav{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 16px 40px;

//         *{
//             color: $comon;
//         }

//         .logo{
//             font-size: 18px;
            
//             h2{
//                 font-family: $secondary-fond;
//                 letter-spacing: 6px;
//             }
            
//         }
//         .navbar{
//             ul{
//                 display: flex;
//                 align-items: center;

//                 li{
//                     list-style: none;

//                     a{
//                         margin-right: 30px;
//                         font-family: $secondary-fond;
//                         letter-spacing: 4px;
//                         // font-weight: $bold;
//                         text-decoration: none;
//                         text-transform: uppercase;
                        
//                     }
                    
//                 }
                
//                 .live-stream{
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     background-color: black;
//                     padding: 5px 8px;
//                     border-radius: 4px;
//                     transition: all ease .6s;

//                     &:hover{
//                         background-color:$comon;
                        
//                         a{
//                             color: black;
//                         }
//                     }

//                     .live-dot{
//                         width: 10px;
//                         height: 10px;
//                         background-color: red;
//                         border-radius: 50%;
//                         margin-right: 5px;
//                     }
//                 }
//             }
//         }
//     }
// }


gradient stripe css
.gradient-strip{
    position: fixed;
    top: 7%;
    width: 100%;
    height: 12px;
    background: linear-gradient(90deg, rgba(1,233,255,1) 0%, rgba(255,0,0,1) 50%, rgba(5,46,96,1) 100%);
    z-index: 10;
}




// upcoming container section css

.upcoming-container{
    padding-top: 30px;
    height: 220px;
    background-color: black;
    border-bottom: 2px solid $primary-color;
    z-index: 1;

    .banner-sec{
        position:absolute;
        display: none;
        width: 100%;
        height: auto;
        margin-top: 29px;
        box-shadow: 5px 5px 8px;

        @include mobile{
            display: block;
        }

        img{
            
            @include mobile{
               
            }
        }
    }

    


    .upcoming-details{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        margin-top: 60px;
        text-align: center;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        // --------------tablet responsive here

        @include tablet{
            margin-top: 60px;
        }

        @include mobile{
            margin-top: 70px;
        }

        *{
            color: $comon;
            h2{
                @include mobile{
                    font-size: 16px;
                    max-width: 100px;
                }
            }
            h3{
                font-size: 20px;

                //--------------- tablet responsive here

                @include tablet{
                    font-size: 16px;
                }

                @include mobile{
                    font-size: 12px;
                    margin-top: 6px;
                    max-width: 150px;
                }
            }
        }
        img{
            width: 80px;

            //------------ tablet responsive here

            @include tablet{
                width: 68px;
            }
        }
    }
}

// ad space code starts

// .ad-space{
//     width: 100%;
//     height: 320px;
//     margin-top: 30px;
//     background: $primary-color;

    
//     .ad-contents{
//         display: flex;

//         *{
//             color: white;
//         }

//         .ad{
//             width: 500px;
//             height: 290px;
//             // background-color: rgb(0, 0, 0);
//             margin: 15px 0;

//             &.adv-s-1{
//                 margin-left: 4px;
//             }

//             &.adv-s-2{
//                 margin: 15px 10px;
//             }

//             h2{
//                 display: flex;
//                 justify-content: center;
//             }
//         }
//     }
// }

// ad space media query

// @media screen and (max-width: 800px){
//         .ad-space{
//             height: 220px;
//         }
//     }

// match result css starts

.match-result-container{
    margin-top: 60px;
    h1{
        font-size: 2em;
        text-align: center;
        margin-top: 12px;

        //----------- mobile responsive here

        @include tablet{
            font-size: 1.4em;
            text-transform: uppercase;
            font-weight: $medium;
            margin-top: 25px;
        }
    }
    .match-container{
    
        .match-details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .r{
                width: 500px;
                height: 180px;
               display: flex;
               align-items: center;
               justify-content:center;
               text-align: center;
               margin-bottom: 30px;
               color: $comon;
               border-bottom: 2px solid $primary-color;
               background-color: rgb(48, 48, 78);
               box-shadow: 6px 6px 10px black;

               @include mobile{
                width: 410px;
               }
               
               &.row-1{
                   margin-top: 20px;
               }
               .logo{
                   img{
                       width: 80px;
                       transition: transform ease 2s;
                       transform: rotateY(360deg);
                       transition-delay: .2s;
                       transition-duration: 5s;
                    

                    
                       
                       
                    //    &:hover{
                        
                    //    }
                   }
               }

            //-------------------- mobile responsive here   
              h3{
                @include mobile{
                    font-size: 18px;
                    text-transform: uppercase;
                }
              }


            }
    
            .vs{
                font-size: 22px;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
               margin: 0 30px;

               .bar-vs{
                   
                    @include mobile{
                        height: 55px;
                        text-align: center;
                    }
               }

               h1{
                   align-items: center;
               }

               .goal-score{
                   text-align: center;
                   font-size: 34px;
                   margin: 0 20px;
               }
            }
        }
    }
}
